.gradient-custom {
    /* fallback for old browsers */
    background: #656565 !important;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(66, 66, 66), rgb(37, 32, 30));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(170, 170, 170), rgb(54, 54, 54));
}